/* #region left bar */
.left-bar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  position: fixed;
  /* bottom: 0; */
}
.left-bar-list {
  height: 100%;
  overflow-y: scroll;
}
.left-bar-button svg {
  color: var(--primary-color);
  font-size: 3rem;
  margin-left: 0.2rem;
  margin-bottom: 0.3rem;
}
.left-bar .left-bar-button {
  padding: 0.8rem 0;
}
.left-bar .left-bar-button:hover {
  border-radius: 8px;
}
.left-bar .left-bar-text .MuiTypography-root {
  font-size: 1.8rem !important;
  font-weight: 500;
}
.Mui-selected .left-bar-text .MuiTypography-root {
  color: var(--primary-color);
}
.left-bar .left-bar-button.Mui-selected {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 2px solid var(--primary-color);
}
.left-bar .left-bar-button.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.left-bar .left-bar-button.Mui-disabled {
  opacity: 1;
}
.left-bar .list {
  padding: 0.4rem 0.8rem;
}
.left-bar .left-bar-button.multi {
  margin-bottom: 1.2rem;
}
.left-bar .left-bar-title {
  font-size: 2.4rem;
  font-weight: 500;
  padding: 0.8rem 0 0.8rem 1.6rem;
}
.left-bar .left-bar-title.second {
  padding: 1.6rem 0 0.8rem 1.6rem;
}
.left-bar-button .left {
  pointer-events: none;
  margin-left: 0.6rem;
}
.left-bar-button .left .rounded {
  width: 3.6rem;
  height: 3.6rem;
  pointer-events: none;
  background-color: #dadada;
}
.left-bar-button .left .rounded svg {
  font-size: 2.6rem;
  margin: 0;
  color: black;
}
.left-bar-button .left.selected .rounded {
  background-color: var(--primary-color);
}
.left-bar-button .left.selected .rounded svg {
  color: white;
}
.left-bar-button .right {
  padding-left: 1.2rem;
}
.left-bar-button .right svg {
  color: black;
}
a[disabled] {
  pointer-events: none;
}
/* #endregion */

/* #region nav bar */
.MuiPaper-root.nav-bar {
  box-shadow: 0 1px 1px 0 var(--shadow-1);
  position: fixed;
  width: 100vw;
  height: var(--navbar-height);
  padding: 0 var(--padding-layout);
  z-index: 10;
  border-radius: 0;
}
.nav-bar-wrapper {
  /* margin: 0; */
  height: 100%;
  align-items: center;
  padding-right: 1.4rem;
}

.nav-bar-wrapper .right {
  border: 0;
  padding: 0.4rem;
}
.nav-bar-wrapper .right:hover,
.nav-bar-wrapper .right.MuiToggleButton-root.Mui-selected,
.nav-bar-wrapper .right.MuiToggleButton-root.Mui-selected:hover {
  color: white;
  background-color: white;
}
.MuiToggleButton-root.Mui-selected
  .right-nav-icon
  .icon-button-with-background {
  background-color: var(--secondary-color);
}
.MuiToggleButton-root.Mui-selected
  .right-nav-icon
  .icon-button-with-background
  svg {
  color: var(--primary-color);
}

.MuiToggleButtonGroup-root.notification-type-wrapper {
  display: flex;
  gap: 0.8rem;
  padding-top: 0.6rem;
}
.MuiToggleButtonGroup-root.notification-type-wrapper
  .MuiToggleButton-root.type {
  text-transform: none;
  border: 0;
  border-radius: 18px;
  padding: 0.4rem 1.4rem;
  font-size: 1.4rem !important;
}
.MuiToggleButtonGroup-root.notification-type-wrapper
  .MuiToggleButton-root.Mui-selected.type {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
/* #endregion */

/* #region layout */
.layout-wrapper {
  display: flex;
  padding-top: var(--navbar-height);
}
.landing-layout {
  background-color: rgb(241 241 241 / 1);
  /* overflow-y: scroll; */
  width: 100vw;
  padding-top: 1.5rem;
}
.one-column {
  padding-left: var(--padding-layout);
  padding-right: var(--padding-layout);
}
.two-column {
  padding-left: calc(var(--sidebar-width) + var(--padding-layout));
  padding-right: var(--padding-layout);
}
.three-column {
  padding-left: calc(var(--sidebar-width) + var(--padding-layout));
  padding-right: calc(var(--sidebar-width) + var(--padding-layout));
}
.three-column.post-view {
  padding: 2rem 32% 0;
  display: flex;
  justify-content: center;
}
.three-column.post-view .cardPost {
  width: 100%;
}
/* #endregion */
