/* #region left bar */
.left-bar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
}
.MuiListItemIcon-root svg {
  color: var(--primary-color);
  font-size: 3rem;
  margin-left: 0.8rem;
  margin-bottom: 0.3rem;
}
.left-bar .left-bar-button {
  padding: 0.8rem 0;
}
.left-bar .left-bar-button:hover {
  border-radius: 8px;
}
.left-bar .left-bar-text .MuiTypography-root {
  font-size: 1.8rem !important;
  font-weight: 500;
}
.left-bar .left-bar-button.Mui-selected {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}
.left-bar .left-bar-button.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
/* #endregion */

/* #region nav bar */
.MuiPaper-root.nav-bar {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  height: var(--navbar-height);
  padding: 0 var(--padding-layout);
  z-index: 10;
  border-radius: 0;
}
.nav-bar-wrapper {
  /* margin: 0; */
  height: 100%;
  align-items: center;
  padding-right: 1.4rem;
}
/* #endregion */

/* #region layout */
.layout-wrapper {
  display: flex;
  padding-top: var(--navbar-height);
}
.landing-layout {
  background-color: rgb(241 241 241 / 1);
  overflow-y: scroll;
  width: 100vw;
  padding-top: 1.5rem;
}
.one-column {
  padding-left: var(--padding-layout);
  padding-right: var(--padding-layout);
}
.two-column {
  padding-left: calc(var(--sidebar-width) + var(--padding-layout) + 8px);
  padding-right: var(--padding-layout);
}
.three-column {
  padding-left: calc(var(--sidebar-width) + var(--padding-layout) + 8px);
  padding-right: calc(var(--sidebar-width) + var(--padding-layout));
}
/* #endregion */
