:root {
    --skin-color: #dbb7ab;
    --ear-nose-color:hsl(355, 50%, 85%);
    --hair:#291e1a;
    --beard:#4e4643;
}

.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #eeebe4;
    grid-template-columns: auto auto auto;
}

.head {
    position: fixed;
    width: 22rem;
    /*Chiều rộng khuôn mặt không tính 2 tai*/
    height: 31rem;
    /*Chiều cao là chiều dài khuôn mặt*/
    background-color: var(--skin-color);
    border-radius: 110px;
    /* đoạn border này là = 1/2 width */
    box-shadow:inset 0 60px var(--hair),inset 0 -40px var(--beard);
    /* Đoạn này là tóc và râu*/
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
}
/* Vẽ đường viền khuôn mặt */
.head::before{
    /*Thêm  1 ô ở giữa khuôn măt */
    content: '';
    position: absolute;
    left: 0;
    top: 5rem;
    width: 22rem;
    /* Cùng chiều rộng với khuôn mặt */
    height: 22rem;
    /* Chiều cao nhỏ hơn khuôn mặt */
    background-color: var(--skin-color);
    border-radius: 60px 60px 110px 110px;
    z-index: 2;
    transition: all 0.3s ease-in;
}
/*Bóng ở dưới*/
.head::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8rem;
    width: 14rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #d1c9bbbf;
    transform: translate(-50%);
}

/*Tai*/
.ear{
    position: absolute;
    top: 12.7rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--skin-color);
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
/*Sau khi dựng tai, các đặc điểm trên khuôn mặt sẽ che đi phần giữa của tai, vì vậy hãy để tai di chuyển theo các hướng trái và phải tương ứng*/
.ear_left{
    left: -2.8rem;
}
.ear_right{
    right: -2.8rem;
}
/*Thêm đường viền bên trong tai*/
.ear::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2.6rem;
    height: 2.6rem;
    top: 1.2rem;
    transform: translate(-50%);
    background-color: var(--ear-nose-color);
    border-radius: 50%;
}
/*Thêm bông tai*/
.ear::after{
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    bottom: 0.6rem;
    background-color: white;
    border-radius: 50%;
}
/*Di chuyển bông tai đến đúng vị trí*/
.ear_left::after{
    left: 1.3rem;
}
.ear_right::after{
    right: 1.3rem;
}

/* Các đặc điểm toàn bộ khuôn mặt */
.face {
    position: absolute;
    left: 50%;
    top: 10.5rem;
    /* Cách đỉnh đầu 105px trở xuống */
    width: 11rem;
    /* 1/2 width */
    height: 16.5rem;
    /* từ lông mày đến cằm */
    transform: translate(-50%);
    z-index: 3;
    transition: all 0.3s ease-in;
}

/* mắt */
.eye {
    position: absolute;
    top: 0.4rem;
    width: 3.8rem;
    height: 0.8rem;
    background-color: #000;
    border-radius: 4px;
}
/* Mục đích là đặt lông mày cố định ở trái và phải */
.eye_left{
    left: 0;
}
.eye_right{
    right: 0;
}
/* Tạo lòng mắt */
.eye::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 1.8rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%);
    transition: all 0.3s ease-in;
}

/* Mũi */
.nose {
    position: absolute;
    left: 50%;
    top: 5rem;
    width: 5rem;
    height: 2.2rem;
    border-radius: 11px;
    background-color: var(--ear-nose-color);
    transform: translate(-50%);
    z-index: 5;
}
.nose::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -2.8rem;
    height: 5rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: var(--ear-nose-color);
    transform: translate(-50%);
}

/* Râu */
.beard {
    position: absolute;
    top: 8rem;
    left: 50%;
    width: 9rem;
    height: 12rem;
    border-radius: 4.5rem;
    background-color: #000;
    transform: translate(-50%);
    transition: all 0.3s ease-in;
}
/* Chỗ này là râu xung quanh miệng  */
.beard::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -0.8rem;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: var(--skin-color);
    transform: translate(-50%);
}

/* Quai hàm */
.chin {
    position: absolute;
    top: 2rem;
    left: 50%;
    width: 7.4rem;
    height: 6.4rem;
    border-radius: 32px;
    background-color:var(--skin-color);
    transform: translate(-50%);
}
/* Miệng */
.chin::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 1.2rem;
    width: 4.4rem;
    height: 2rem;
    border-radius: 0 0 22px 22px;
    background-color: white;
    transform: translate(-50%);
}

/* Miệng buồn */
.sad::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 1.2rem;
    width: 4.4rem;
    height: 1rem;
    border-radius: 22px 22px 0 0;
    background-color: white;
    transform: translate(-50%);
}

/* Ria mép dưới miệng */
.beard::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 6rem;
    height: 1rem;
    width: 2rem;
    border-radius: 4px;
    background-color: #000;
    transform: translate(-50%);
}
/* Trạng thái khi di chuột */
.move.top:hover ~ .head::before {
    top: 4.5rem;
}
.move.top:hover ~ .head .face {
    top: 9rem;
}
.move.top:hover ~ .head .face .eye::before {
    top: 0.8rem;
}
.move.top:hover ~ .head .face .beard {
    top: 7.4rem;
}
.move.top:hover ~ .head .ear {
    top: 13.2rem;
}


.move.bottom:hover ~ .head::before {
    top: 6rem;
}
.move.bottom:hover ~ .head .face {
    top: 12.5rem;
}
.move.bottom:hover ~ .head .face .eye::before {
    top: 2.8rem;
}
.move.bottom:hover ~ .head .face .beard {
    top: 8.6rem;
}
.move.bottom:hover ~ .head .ear {
    top: 12.2rem;
}


.move.left:hover ~ .head .face {
    left: 45%;
}
.move.left:hover ~ .head .face .eye::before {
    left: 40%;
}
.move.left:hover ~ .head .ear_left {
    left: -2.3rem;
}
.move.left:hover ~ .head .ear_right {
    right: -3.3rem;
}


.move.right:hover ~ .head .face {
    left: 55%;
}
.move.right:hover ~ .head .face .eye::before {
    left: 60%;
}
.move.right:hover ~ .head .ear_left {
    left: -33px;
}
.move.right:hover ~ .head .ear_right {
    right: -23px;
}