/*#region Menu*/
.MuiList-root.menu {
  position: absolute;
  background-color: white;
  margin-top: 0.8rem;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 12px 28px 0 var(--shadow-2),
    0 2px 4px 0 var(--shadow-1);
}
.MuiMenuItem-root.menu-item {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0.8rem 0 0.8rem;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  min-height: 4.6rem;
}
.MuiMenuItem-root .left-menu {
  width: 4rem;
  height: 4rem;
  margin-right: 0.8rem;
}
.MuiMenuItem-root .middle-menu {
  width: 16.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
}
.MuiMenuItem-root .right-menu {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.4rem;
}

/* #region recent search in navbar */
.MuiList-root.menu.navbar-search {
  overflow-y: scroll;
  max-height: 43rem;
  left: -5.4rem;
  width: 121%;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px 10px 8px var(--shadow-1);
}
.MuiMenuItem-root .middle-menu.navbar-search {
  width: auto;
}
#searchBar.MuiOutlinedInput-input:-webkit-autofill {
  padding: 0;
  /* height: 4.4rem; */
}
/* #endregion */

/* #region options in all friend screen */
.MuiList-root.menu.all-friend {
  width: 13rem;
  top: 5rem;
  right: 0.8rem;
  z-index: 1;
}
.all-friend .MuiMenuItem-root.menu-item {
  pointer-events: auto;
}
.left-bar .MuiMenuItem-root .middle-menu.all-friend {
  width: auto;
  font-size: 1.5rem !important;
  font-weight: 200;
  /* color: #8c8c8c; */
  color: black;
}
.all-friend .left-bar-button svg {
  font-size: 2.4rem;
  /* color: #8c8c8c; */
  color: black;
}
/* #endregion */

/* #region notification */
.MuiList-root.menu.nav-notification {
  max-height: 94vh;
  overflow-y: scroll;
}
.MuiMenuItem-root.menu-item.nav-notification {
  height: 8rem;
  justify-content: start;
}
.MuiMenuItem-root .middle-menu.nav-notification {
  padding-left: 1rem;
  flex: 1;
}
/* #endregion */

/*#endregion */

/*#region IconButton*/
.MuiButton-root.button-with-icon {
  width: 100%;
  text-transform: none;
  color: #65676b;
}
.MuiButton-root.button-with-icon:hover {
  background-color: #f0f2f5;
}
.MuiAvatar-root.icon-button-with-background {
  cursor: pointer;
  color: #050505;
  background-color: #dadada;
}
.MuiAvatar-root.icon-button-with-background:hover {
  background-color: #bdbdbd;
}
button svg {
  font-size: 3.2rem;
}
.MuiTooltip-tooltip {
  font-size: 1.2rem !important;
}
/*#endregion */
