/* #region card */
.friend-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px var(--shadow-2);
}
.friend-card img {
  box-shadow: 0 0 0 1px var(--shadow-2);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.friend-card .bottom {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.bottom span {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* #endregion */

a[disabled] {
  pointer-events: none;
}