/* #region layout */
.landing-layout,
.landing-layout.two-column #profileTop {
  padding-top: 0;
}
.two-column {
  padding-left: var(--sidebar-width);
  padding-right: 0;
}
/* #endregion */

/* #region leftbar */
.all-friend .left-bar-button .left {
  margin: 0 6px;
}
.suggestions .action {
  display: block;
  text-align: center;
}
.suggestions .action button {
  width: 92%;
}
.left-bar-button .MuiAvatar-root {
  width: 6rem;
  height: 6rem;
  font-size: 2.4rem;
}
.left-bar-list.friend-list {
  overflow-y: scroll;
  height: calc(100vh - var(--navbar-height) * 2.8);
}
.friend-left-bar-title-wrapper {
  box-shadow: 0 1px 0 0 var(--shadow-1);
}
.friend-left-bar-title {
  display: flex;
  padding: 1.2rem;
  align-items: center;
  height: var(--navbar-height);
  max-height: var(--navbar-height);
}
.friend-left-bar-middle {
  padding: 0 1.2rem;
}
.friend-left-bar-middle.title {
  display: flex;
  align-items: center;
}
.unimportant-text {
  font-size: 1.2rem;
  font-weight: 100;
  color:#8c8c8c;
  letter-spacing: 0.8px;
}
.action {
  display: flex;
  justify-content: space-evenly;
}
.action .action-btn {
  width: 44%;
  max-height: 4rem;
  pointer-events: auto;
}
/* #endregion */
