/* #region card */
.friend-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px var(--shadow-2);
}
.friend-card .image {
  box-shadow: 0 0 0 1px var(--shadow-2);
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-width: 100%;
  min-height: 24rem;
  /* background: var(--primary-color); */
  font-size: 14rem;
  cursor: pointer;
}
.friend-card .bottom {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.bottom span {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
/* #endregion */

/* #region home */
.friend-home-grid {
  padding: 2rem 2.4rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
}

.friend-home-title {
  padding: 2.4rem 2.4rem 0 2.4rem;
  display: flex;
  align-items: center;
}
.friend-home-title .type {
  flex: 1;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
}
/* #endregion */
